.facility-title {
	z-index:2;
	position:fixed;
	width:100%;
	background:url("../../img/page/facility/facility_title.jpg") no-repeat;
	background-size:cover;
	background-position:center;
	height:0;
	top:100px;
	transition: all 1.5s;
	text-align:center;
	padding-top:50px;
	padding-bottom:30%;
	color:#FFFCF9;
}

#span-back{
	padding:0px;
	position:absolute;
	background-color:transparent;
	height:7vw;
	width:33%;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	backdrop-filter:blur(3px);
  	border-radius:10px;
}

.facility-title > span {
	font-size:7vw;
	font-family: "Bona Nova SC", serif;
	position:absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	color:#FFFAF2;
}

.facility-wrap{
	opacity:0;
	position:fixed;
	width:80%;
	left:10%;
	background-color:#f3eee7;
	transition: all 1.1s;
	margin:0 auto;
	margin-top: 130px;
	font-size:30px;
	text-align:center;
}

 #container {
        width:900px;
        margin: auto;
	    margin-top: 180px;   
	    margin-bottom:100px; 
    } 
    
    #text{
    	position:absolute;
    	top:180px;
    	left:10%;
    	font-family:"Cormorant Garamond", serif;
   		height:5vh;
   		margin:3%;
   		color:gray;
   		text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    }

    .SliderBox {
    	flex-shrink: 0;
        width: 100%;
        margin: 0px auto;
        overflow: hidden;/* 슬라이더 밖의 이미지 숨기기 */
        position: relative; /* 버튼을 위치시키기 위해 사용 */
        
    }

    /* 슬라이더의 이미지들 */
    #slider {
    	flex-shrink: 0;
    	width:1550px;
        display: flex;
        transition: transform 0.5s ease; /* 슬라이드 이동 부드럽게 하기 */
    }

    #slider img {
    	margin-top:1%;
    	width:100%;
        height: auto;
        box-shadow:10px 10px 15px  rgba(0, 0, 0, 0.1); 
    }

    /* 좌우 슬라이드 버튼 */
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
        border: 1px solid black;
        border-radius: 20%;
        padding: 15px;
        cursor: pointer;
        z-index: 10;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }
    
    #line{
    	position:absolute;
    	bottom:600px;
    	left:600px;
    	align-items: center;
   	    justify-content: center;
    	line-height: 30px;
   	    text-align: left;
    	margin-left:10%;
    	width:40%;
    	background-color:gray;
    }
   
     @media (max-width: 1250px) {
        #container {
            width: 800px;
        }

        .SliderBox {
            width: 100%;
        }

        #slider {
            width: auto;
        }

        #slider img {
            width: 50%;
          
        }

        .prev, .next {
            padding: 10px;
        }
         #text,#text2{
         	font-size : 20px;
         }
  	  }	
    	@media (max-width:1050px){
    		#container {
    		width:600px;
    	}

        .SliderBox {
            width: 100%;
        }

        #slider {
            width: auto;
        }

        #slider img {
            width: 50%;
          
        }

        .prev, .next {
            padding: 10px;
        }
         #text,#text2{
         	font-size : 20px;
         }
    }
    
    	@media (max-width:950px) {
        #content ul {
         	font-size: 14px;
         }
      }
    
       @media (max-width:700px) {
        #container {
            width: 420px;
        }
        #text{
        	writing-mode: vertical-lr;
    		text-orientation: upright;
        }

        .SliderBox {
            width: 100%;
        }

        #slider {
            width: auto;
        }

        #slider img {
            width: 50%;
          
        }

        .prev, .next {
            padding: 10px;
        }
         #text,#text2{
         	font-size : 20px;
         }
    }
    
    
    #content ul {
	    display: flex;
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    justify-content: center;
	}
	
	#content li {
	    display: flex;  
	    flex-direction: column; 
	    align-items: center;
	    justify-content: center;
	    border: 1px solid #ccc;
	    padding: 10px;
	    margin: 10px;
	    width: 25%;
	    line-height:30px;
	    text-align: center;
	    font-family: 'Gowun Batang';
	}
	
	#type1 {
		font-weight: bold;
	}
	
	#titleName {
		text-align:center;
		font-family: 'Gowun Batang';
	}
